body{
    background-color: rgb(248, 227, 202);
}


.hello{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 10px;
    padding : 10px;
    background-color: rgb(226, 226, 249);
}

.navigation a{
    text-decoration: none;
    font-size: medium;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    margin-right: 1px;
    
}
.navigation{
    margin-right: 20px ;
}
.a h1{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin :0px

}

.b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px

}

main img{
    width :200px;
    height: auto;
    border-radius: 20px;
}


main p {
    text-align: justify;
    line-height: 1.8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

main{
    max-width:1200px;
    margin: 0 auto;  /* Center kan content */
    padding: 20px;
}

.navigation a:hover{
    background-color: bisque;
    cursor: pointer;

}

